#centralDiv {
    width: 700px;
    margin: auto;
    display: grid;
    grid-template-columns: [col1start] 22.5% [col1end] 0px
                            [col2start] 22.5% [col2end] 5px
                            [col3start] 10% [col3end] 5px
                            [col4start] 45% [col4end];
    grid-template-rows: [row1start] 100px [row1end] 0px
                        [row2start] 450px [row2end];
}

#enterJsonH {
    grid-column: col1start / col1end;
    grid-row: row1start / row1end;
}

#formatErrorH{
    grid-column: col2start / col2end;
    grid-row: row1start / row1end;
    color: rgb(204, 17, 17);
    text-align: right;
}