body {
    background-color: #FBF2E9;
}

#centralDiv{
    width: 700px;
    margin: auto;
}

#selectColorDiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.selectDiv{
    border: 1px solid rgba(141, 141, 141, 0.596);
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

.colorDiv{
    width: 100px;
    height: 30px;
}

.redDiv{
    background-color: #DF7B9D;
}

.greenDiv{
    background-color: #28B9B1;
}

.orangeDiv{
    background-color: #FF8758;
}

.yellowDiv{
    background-color: #DDAC29;
}

#fruitsHeaderDiv{
    text-align: center;
}

#fruitsDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 15px;
}

.fruitDiv {
    width: 200px;
    height: 45px;
}