#centraldiv {
    width: 500px;
    margin: auto;
}

/* Div for question display */
.qestionDiv {
    margin-top: 5px;
    margin-bottom: 10px;
}

.inputsDiv {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.textInput {
    width: 75%;
}

#submitButton {
    width: 100%;
}